<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="split left">
            <div class="centered">
                <a href="/home/newOrder" class="homelink">New Order</a>
                <p>Place a new order</p>
            </div>
        </div>

        <div class="split right">
            <div class="centered">
                <a href="Dataretrieval.html" class="homelink">Order History</a>
                <p>View previous orders</p>
            </div>
        </div>
    </body>
</html>
